html,
body {
	height: 100%;
}

body {
	background-color: #ffffff;
	font-size: 25px;
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
	margin: 0px;
}

.error {
	display: grid;
	place-content: center;
	min-width: 0;
	box-sizing: border-box;
	max-width: 1140px;
	min-height: 100%;
	margin: 0 auto;
    padding: 20px 20px 60px;
}

img {
	max-width: 100%;
}

.text {
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: normal;
}

.return {
	display: flex;
	justify-content: center;
	margin: 85px 0 0;
}

.return a {
	text-decoration: none;
	color: #fff;
	background-color: #DC1212;
	font-style: normal;
	padding: 15px 37px;
	border-radius: 50px;
}

@media screen and (max-width: 992px) {
	img {
		max-width: 100%;
		margin-top: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	img {
		max-width: 100%;
		margin-top: 100px;
		text-align: center;
	}
}

@media screen and (max-width: 479px) {
	img {
	max-width: 100%;
	margin-top: 90px;
	text-align: center;
	}
	.return {
	margin-top: 75px;
	}
}

@media screen and (max-width: 414px) {
	img {
		max-width: 100%;
		margin-top: 85px;
		text-align: center;
	}
	.return {
		margin-top: 65px;
		font-size: 18px;
		padding: 19px 40px;ss
	}
	.text {
		font-size: 18px;
	}

@media screen and (max-width: 375px) {
	img {
		max-width: 100%;
		margin-top: 85px;
		text-align: center;
	}
	.return {
		margin-top: 65px;
		font-size: 18px;
		padding: 19px 40px;
	}
	.text {
		font-size: 18px;
	}

@media screen and (max-width: 320px) {
	img {
		max-width: 100%;
		margin-top: 85px;
		text-align: center;
	}
	.return {
		margin-top: 65px;
		font-size: 18px;
		padding: 19px 40px;
	}
	.text {
		font-size: 18px;
	}
}


